#logo {
  width: auto;
  height: 60px;
}

.navbar-brand {
  color: white; /* color del texto */
}
.navbar {
  background: white; /* Degradado de blanco al color actual */
}

/* Configuración para que todas las imágenes tengan el mismo alto */
.gallery-img img {
  height: 200px; /* Ajusta la altura según lo que necesites */
  width: 400px;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px #cfc5b6; /* Sombra suave */
  border-radius: 3px; /* Bordes redondeados */
}

/* Efecto de zoom al pasar el cursor sobre la imagen */
.gallery-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más fuerte al hacer zoom */
}

/* Estilo para el contenedor del carrusel */
#carouselGaleria .carousel-inner {
  padding: 10px;
}

/* Control de ancho de las flechas para que sean más visibles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

#galeria hr {
  justify-self: center;
  width: 20%;
  margin-top: 0;
  padding-top: 0;
}

.hr-unete {
  height: 3px;
  color: #b43a18;
  background-color: #b43a18;
  opacity: 90%;
}

#galeria p {
  font-size: large;
  font-weight: lighter;
}

/*
.carousel-inner img {
    height: 200px; /* Ajusta el alto según tus necesidades * /
    object-fit: cover;
    width: 100%;
}*7

    /* Estilo para el efecto parallax */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (min-width: 1201px) {
  .parallax-1 {
    background-image: url("../img/fidias1-removebg-preview-transformed.png"); /* Reemplaza con la ruta de la imagen */
  }
}

@media (max-width: 1200px) {
  .parallax-1 {
    background-image: url("../img/fidias1-removebg-preview-transformed-SM.jpg"); /* Reemplaza con la ruta de la imagen */
  }
}

.parallax-1 h1 {
  font-weight: 400;
}

.parallax-1 a {
  text-shadow: none;
}

.parallax-2 {
  /*background-image: url("../img/fidias2.jpg");*/ /* Reemplaza con la ruta de la imagen */
  background-color: #120404;
}

.parallax-2 h2 {
  font-size: 60px;
  letter-spacing: 3px;
  opacity: 95%;
  text-shadow: 0px 0px 0px #ecf4f5;
}

.parallax-2 h3 {
  font-size: 35px;
  font-weight: 400;
  padding-left: 120px;
}

.parallax-2 p {
  font-size: small;
}

.parallax-2 img {
  height: 100%;
}

.parallax-3 {
  background-image: url("../img/fidias3.jpg"); /* Reemplaza con la ruta de la imagen */
}

/* Efectos de animación */
.fade-in-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

/* Efecto de zoom en las imágenes de la galería * /
    .gallery-img {
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .gallery-img:hover {
        transform: scale(1.1);
    }


     /* Efecto de zoom para la imagen */
.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

/* Animación de entrada */
.card-body {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.card.show-card .card-body {
  opacity: 1;
  transform: translateY(0);
}

/* Efecto de hover en el botón */
.btn-primary:hover {
  background-color: #ff6347; /* Cambia al color que prefieras */
  border-color: #ff6347;
  transition: all 0.3s ease;
}

/*NUESTRAS CLASES*/
#clases .row {
  justify-content: center;
  align-items: stretch;
}

.nuestras-clases-titulo {
  justify-content: center;
  align-items: center;
}
.nuestras-clases-titulo h2 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.nuestras-clases-titulo hr {
  justify-self: center;
  width: 5%;
  margin-top: 0;
  padding-top: 0;
}

.hr-nuestras-clases {
  height: 3px;
  color: #b43a18;
  background-color: #b43a18;
  opacity: 90%;
}

.salsa-card {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
}

.card-body p,
ul {
  font-size: small;
}

.card-body p {
  text-align: justify;
}

.card-body button {
  margin-top: auto;
}

.card {
  min-height: 100%;
}

/*CONTACTO*/
#contacto form {
  width: 50%;
  justify-self: center;
}

#contacto hr {
  justify-self: center;
  width: 7%;
  margin-top: 0;
  padding-top: 0;
}

.hr-contacto {
  height: 3px;
  color: #b43a18;
  background-color: #b43a18;
  opacity: 90%;
}

/*NAVBAR*/
#navbarNav a {
  font-size: 15px;
}

/*FOOTER*/
#footer p {
  text-align: center;
}

#footer img {
  height: 30px;
}
